<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Hey there! We're working on improvements as fast as we can, 
  but if you have any suggestions or thoughts we'd love to hear them!" 
  contact@pennlist.co
</p>