
<h3>
  <%#= current_user.name 
  %>
  Categories
</h3>
<div class="content">
  <%#= link_to "Create new post", new_advertisement_path 
  %>
  <ul class="categories-list">
<% @tags.each do |tag| %>
  <li class="category-line"><%= link_to tag, tag_path(tag.name) %></li>
<% end %>
	</ul>
</div>