.feed_item{ 
  margin-bottom: 10px;
  padding-left:10px;
  padding-bottom: 5px;
  padding-top:5px;
}
.feed_picture{
  margin-right: 10px;
  float: left;
  height: 60px; 
}
.left{
  margin-left: 0px;
}
.image_button{
  margin-left:0px;
  margin-top: 0px;
  padding-left:0px;
}
.comment_item{
  margin-left:0px;
  margin-top: 2px;
  margin-bottom:2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
