.feed_item{ 
  margin-left:0px;
  margin-bottom: 10px;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:10px;
  padding-top:10px;
  opacity:0.85;
}
#main-container{
}
.feed_picture{
  opacity:1;
  padding-left:10px;
  margin-left:0px;
  float: left; 
  width:110px;
}
.feed_title{
  opacity:1;
  h4{
    margin-top:0px;
    margin-bottom:0px;
  }
  float:left;
  margin-left: 0px;
  margin-top:0px;
  margin-right:15px;
  width:570px;
  word-wrap:break-word;
}
.feed_price{
  opacity:1;
  margin-left: 0px;
  margin-top:0px;
  padding-right:10px;
  float:left;
}

.left{
  margin-left: 0px;
}
.image_button{
  margin-left:0px;
  margin-top: 0px;
  padding-left:0px;
}
.comment_item{
  margin-left:0px;
  margin-top: 2px;
  margin-bottom:2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#private_button{
  width: 147px;
}
#public_button{
  width: 147px;
}
.hero-unit h1{
  font-size: 40px;
}
.landing_box{
  height: 330px;
  opacity:0.75;
}
#back_home{
  margin-left:0px;
  padding-left: 0px;
  padding-right:0px;
}
#ad_by{
  text-align:left;
  margin-left: 20px;
  color: #585858;
  margin-bottom: 15px;
}
#ad_title{
  word-wrap:break-word;
  h1{
    text-align:left;
  }
}
#user_name{
  color:white;
  font-size:24px;
}
#create_new{
  color: #F0F8FF;
  text-decoration: underline;
}
#item_container{
  h3{
    color: #626262;
  }
  margin-top:3px;
}
#back_to_listing{
  color: #F0F8FF;
  text-decoration: underline;
  
}
.ad_show{
  padding: 10px 10px 10px 10px;
  margin: 10 0 0 0;
}