/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  /*padding-top: 60px;*/
 background-color: #ffffff;
}
.main_body{
  /*background-image: url(image_path('background2.jpg'));
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;*/
 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Commonly used form for booking/updating appointments */

.form-horizontal {
  .controls {
    margin-left: 0px;
    float: right;
  }
  .input-small{
    width: 100px;
    margin-bottom: 2px;
  }
  .btn {
    float: right;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.0em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1 px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type = "checkbox"] {
  margin: 4px 0px 10px;
}
input {
  height: auto !important;
}

/* header */
#logo_box {
  margin: 0px;
  margin-bottom: 5px;
  a {
    color: #777777;
  }
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  
  /* miscellaneous */

  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
}
  


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
 
.profile_picture {
  float: left;
  margin-right: 10px;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
/*  float: left;
  margin-right: 10px;*/
}

#main-container {
  margin-top: 60px;
}

.logo {
  padding-top: 11px;
  line-height: 0;
}


.nav li.sell-button a {
  background-color: #d9534f;
  color: #fff;
}

.nav li.sell-button a:hover {
   background-color: #cf4f4b;
   color: #fff;
}


.plus-sell-button .btn {
  font-size: 16px;
  font-weight: bold;
}

/*
.plus-sell-button a {
   background-color: #cf4f4b;
   color: #fff;
}

.plus-sell-button a:hover {
   background-color: #cf4f4b;
   color: #fff;
}
*/

h1.page-header {
    font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: left;
}

h1.page-header.ad-title {
    font-size: 36px;
}


aside {
  color: black;
}

.nav.pull-right {
  margin-right: 0;
}


.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  font-weight: normal;
}


/*@media (max-width: 979px) {
.nav-collapse .dropdown-menu {
  display: none;
}

.nav-collapse .dropdown.open .dropdown-menu {
  display: block;
}

}
*/

.collapsed-navbar-mobile {
  margin-right: 10px;
}

.landing-page {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url(image_path('background-wharton.jpg'));
}

@media (max-width: 767px) {
  .landing-page {
    background-image: url(image_path('landing-background.jpg'));
  }
  
  .landing-page .container#main-container {
    margin-top: 0;
  }
  
  #cke_1_top,
  #cke_1_bottom {
    display: none
  }

}

.landing-page #main-container {
  margin-top: 100px;
}

.landing-intro-box .well {
  border-radius: 10px;
  opacity: 0.95;
}

.landing-intro-box p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}


.landing-intro-box h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.landing-sign-up {
  color: #fff;
}

.landing-sign-up h2 {
  font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-size: 36px;
  border: 0;
  margin-bottom: 20px;
  color: #fff;
  border: none;
}

.landing-sign-up .have-account {
  margin-top: 20px;
}

.landing-sign-up .have-account h3 {
  font-weight: normal;
  font-size: 20px;
}

.landing-page footer nav li a {
  color: #fff;
}


.landing-page footer {
  border-top: none;
}


.remember-me .checkbox {
  max-height: 13px !important;
  min-height: 13px !important;
}


aside.sidebar {
  color: #000;
  
  h3 {
    font-size: 16px;
    background-color: #efefef;
    color: #555;
    border-radius: 5px;
    padding: 10px;
  }
  
  .content {
    margin-left: 10px;
  }
  
  h4 {
    font-size: 14px;
    font-weight: normal;
  }
}


.categories-label {
  
}

.mobile-hint {
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.image-upload-form-wrapper {
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-upload-form .image-button {
  margin-bottom: 0;
  margin:0;
}

.image-upload-form .image-upload {
  
}

.image-upload-form {
  margin-top: 30px;
}
