#row_fields {
  display: block;
  float: left;
  margin-left: 0px;
  margin-bottom: 4px;
  #left_box {
    margin-left: 0px;
    #user_first_name {
      display: inline-block;
      float:left;
      margin-left:0px;
    }
  }
  #right_box {
    #user_last_name {
      display: inline-block;
      float:left;
      margin-left:0px;
    }
  }
  label {
    margin-top: 5px;
  }
}
.vert-form-btn{
  margin-top: 10px;
}
